@charset "utf-8";
@import url(bootstrap.min.css);
@import url(bootstrap.rtl.min.css);
@import url(font-awesome.min.css);
/*@import url(../fonts/flaticon.css);*/


@font-face {
    font-family: 'iranSans';
    src: url('../fonts/iranSans.eot'); /* IE9 Compat Modes */
    src: url('../fonts/iranSans.eot?#') format('eot'), /* IE68 */
    url('../fonts/iranSans.ttf') format('truetype'), /* Saf35, Chrome4+, FF3.5, Opera 10+ */
    url('../fonts/iranSans.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    /*url('../fonts/iranSans.otf') format('opentype'),*/ url('../fonts/iranSans.svg') format('svg');
    font-variant: normal;
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    color: #555555;
    font-family: 'iranSans', Tahoma, Arial;
    font-size: 12px;
    background: #1c1c1c url(../images/bg.jpg) repeat;
    line-height: 23px;
}

form{
    padding-bottom: 20px;
}

a {
    color: #007acc;
    text-decoration: none;
    border: 0px;
    cursor: pointer;
    transition: all 0.4s ease 0s;
}

    a:hover, #main_search_form:hover {
        color: #616161;
        text-decoration: none;
    }

/**********---header------------***/
#panel {
    background: #f1f1f1;
    padding: 2em;
}

h3.title {
    font-size: 1.2em;
    line-height: 25px;
}

    h3.title i {
        color: #da1f26;
    }

#login .fa {
    color: #da1f26;
    text-align: center;
}

#uname, #pass {
    width: 83%;
    border: 0px;
    padding-right: 5px;
    vertical-align: top;
    height: 32px;
}

.input-group {
    transition: all 0.5s ease;
    background: #FFF;
    color: #97aab3;
    margin: 3% 0;
}

    .input-group:hover, #status:hover {
        -webkit-box-shadow: 0px 0px 5px 0px rgba(175, 175, 175, 0.75);
        -moz-box-shadow: 0px 0px 5px 0px rgba(175, 175, 175, 0.75);
        box-shadow: 0px 0px 5px 0px rgba(175, 175, 175, 0.75);
    }

#sub {
    transition: all 0.5s ease;
    text-align: center;
    background: #da1f26;
    color: #FFF;
    border: 0px;
    float: left;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 7px 15px;
}

    #sub:hover {
        background: #b2b2b2;
    }

#box {
    transition: all 0.5s ease;
    background: #f1f1f1;
    margin: 3em 0;
    position: relative;
    padding: 0.2em 0;
    border: 1px solid #F1F1F1;
}

    #box .title {
        padding-right: 10px;
    }

#icon {
    position: absolute;
    left: -10px;
    top: 0px;
}

.des {
    padding: 0.2em 1em;
}

[class^="boxicon"]::before, [class*=" boxicon"]::before, [class^="boxicon"]::after, [class*=" boxicon"]::after {
    font-size: 50px;
    margin-left: 0px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #c2c2c2;
    border: 1px solid #c2c2c2;
    padding: 5px;
    background: #FFF;
}

.inbtn {
    float: none;
    width: 100%;
    text-align: left;
}

#btn {
    background: #c2c2c2;
    color: #FFF;
    padding: 2px 10px;
    text-align: left;
}

#box:hover {
    border: 1px solid #da1f26;
}

    #box:hover #btn {
        background: #da1f26;
    }

    #box:hover [class^="boxicon"]::before, #box:hover [class*=" boxicon"]::before, #box:hover [class^="boxicon"]::after, #box:hover [class*=" boxicon"]::after {
        color: #da1f26;
        border: 1px solid #da1f26;
        padding: 5px;
        background: #FFF;
    }

    .btn-success{
        margin-top: 10px;
    }

#slide {
    overflow: hidden;
}

#cright {
    padding: 0px;
}

    #cright .logo img {
        text-align: center;
    }

.navbar-brand > img {
    display: inline-block;
}

.navbar-header{
    padding-top: 10px;
    padding-bottom: 20px;
}

.navbar-brand {
    float: none;
    margin: 0 auto;
    line-height: 120px;
    height: 57px;
}

.navbar-header {
    float: none;
    text-align: center;
}

.navbar-default {
    background: none;
    border: 0px;
}

.navbar-collapse {
    padding: 0px;
    max-height: 510px;
}

.navbar-nav, .navbar-nav > li {
    float: none;
}

ul#usermenu {
    list-style: none;
    margin: 0px;
    padding: 0px;
    /*position: fixed;*/
}

    ul#usermenu li {
        transition: background 0.2s ease;
        line-height: 42px;
        border-bottom: 1px solid #cbcbcb;
        padding-right: 20%;
    }

        ul#usermenu li img{
            height: 25px;
        }

        ul#usermenu li a {
            color: #677880;
            font-size: 1.1em;
        }

        ul#usermenu li:hover, ul#usermenu li.active, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
            color: #FFF;
            background: #00B16A;
        }

            ul#usermenu li:hover a, ul#usermenu li.active a {
                color: #FFF;
            }

#cright .padding {
    padding: 15px;
    text-align: center;
}

#head {
    background: #FFF;
    border-bottom: 1px solid #d1d8e2;
    padding: 2% 3%;
}

.user {
    background: #C8F7C5;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 4px 10px;
    float: left;
}

.name {
    border-left: 1px solid #d1d7e3;
    padding: 3px 10px;
}

    .name i {
        color: #F00;
    }

.tel i {
    color: #79e144;
}

.photo img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid #eaf3fa;
    margin: -20px 0 -20px -10px;
}

.search {
    color: #cedae3;
    border-bottom: 1px solid #cedae3;
    float: right;
}

    .search a {
        color: #cedae3;
        text-decoration: none;
    }

    .search input {
        border: 0px;
    }

select {
    transition: all 0.5s ease;
    color: #7e8d92;
    margin: 0px;
    border: 1px solid #d9d9d9;
    background: transparent;
    margin: 15px 0;
    width: 100%;
    padding: 5px 35px 5px 5px;
    border: 1px solid #d9d9d9;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /*background: url(../images/drop.jpg) 10px center no-repeat #FFF;*/
}

input.info {
    transition: all 0.5s ease;
    width: 100%;
    border: 1px solid #d9d9d9;
    color: #7e8d92;
    padding: 5px 35px 5px 5px;
    height: 34px;
    margin: 15px 0;
}

#cleft input.info:hover, #cleft select:hover {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(175, 175, 175, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(175, 175, 175, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(175, 175, 175, 0.75);
}

select.poll {
    width: 30%;
}

.status {
    transition: all 0.5s ease;
    /*min-height: 190px;*/
    color: #626262;
    background: #FFF;
    border: 1px solid #d1d8e2;
    padding: 10px;
    margin: 30px 0 10px 0;
}

.green {
    color: #8fc842;
    font-size: 1.2em;
}

.red {
    color: #da1f26;
    font-size: 1.2em;
}

.orange {
    color: #fdaa29;
    font-size: 1.2em;
}

.blue {
    color: #56a8e7;
    font-size: 1.2em;
}

#center {
    text-align: center;
}

.form-group {
    margin: 4px 0;
}

    .form-group select {
        margin: 0;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }

    .form-group .checkbox, .form-group .radio {
        margin: 0px;
    }

.c100 {
    margin: 0 auto;
}

.txt {
    color: #96a9b2;
}

ul.list-inline {
    background: #f1f1f1;
    list-style: none;
    line-height: 43px;
    width: 100%;
    margin-top: 20px;
}

    ul.list-inline li {
        width: 32%;
        display: inline-block;
        border-bottom: 1px solid #d1d8e2;
        margin: 3px;
    }

.status:hover {
    background: none;
}

footer {
    background: #26A65B;
    color: #FFF;
    padding: 8px 0 0 0;
    font-size: 10px;

    position: fixed;

    bottom: 0;
    width: 100%;
}

.squaredTwo {
    width: 18px;
    height: 18px;
    float: right;
    margin-left: 10px;
    position: relative;
    background: #fcfff4;
    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}

    .squaredTwo label {
        width: 12px;
        height: 12px;
        cursor: pointer;
        position: absolute;
        left: 3px;
        top: 3px;
        background: -webkit-linear-gradient(top, #DA1F26 0%, #da1f26 100%);
        background: linear-gradient(to bottom, #DA1F26 0%, #da1f26 100%);
        box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
    }

        .squaredTwo label:after {
            content: '';
            width: 8px;
            height: 6px;
            position: absolute;
            top: 2px;
            left: 2px;
            border: 3px solid #fcfff4;
            border-top: none;
            border-right: none;
            background: transparent;
            opacity: 0;
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

        .squaredTwo label:hover::after {
            opacity: 0.3;
        }

    .squaredTwo input[type=checkbox] {
        visibility: hidden;
    }

        .squaredTwo input[type=checkbox]:checked + label:after {
            opacity: 1;
        }

#cright nav.navbar {
    display: block;
}

.checkbox-inline {
    width: 15%;
    margin: 5px 0px;
}

    .checkbox-inline + .checkbox-inline, .radio-inline + .radio-inline {
        margin-left: 0px;
    }

    .radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline {
        margin-right: 0px;
    }

.table-responsive th {
    background: #E0E0E0;
}

.table-responsive > tbody > tr:nth-of-type(2n+1) {
    background: #F2F2F2;
}

.table-responsive select {
    margin: 0px;
}

@media only screen and (max-width: 1200px) {
    select.poll {
        width: 100%;
    }
}

@media only screen and (max-width: 992px) {
    h1.logo {
        text-align: center;
    }

    ul.list-inline li {
        width: 48%;
    }

    ul#usermenu li {
        padding-right: 0;
    }

    .checkbox-inline {
        width: 25%;
    }
}

@media(min-width:768px) {
    #pcLogo {
        display: inline;
    }

    #MobileLogo {
        display: none;
    }

    #LoginRegisterLink {
        display: block;
    }

    #copyrightWebsite {
        display: inline;
    }

    #copyrightSoftware {
        display: none;
    }

    #SwitchUserWebsite {
        display: inline;
    }

    #SwitchUserSoftware {
        display: none;
    }

    .hideMobileVersion {
        display: block;
    }

    .btnCustomExit {
        display: inline;
    }

    #lbl_LoginPage {
        display: inline;
    }

    #DV_Captcha {
        display: block;
    }

    #btn_WebLogin {
        display: block;
    }

    #btn_MobileLogin {
        display: none;
    }
}

@media (max-width: 768px) {
    h1.logo {
        text-align: center;
    }

    ul.list-inline li {
        width: 48%;
    }

    #slide {
        display: none;
    }

    #divNews {
        display: none;
    }

    #pcLogo {
        display: none;
    }

    #MobileLogo {
        display: inline;
    }

    #LoginRegisterLink {
        display: none;
    }

     #copyrightWebsite {
        display: inline;
    }

    #copyrightSoftware {
        display: none;
    }


    #SwitchUserWebsite {
        display: none;
    }

    #SwitchUserSoftware {
        display: inline;
    }


    .hideMobileVersion {
        display: none !important;
    }

    .btnCustomExit {
        display: inline;
    }



    .checkbox-inline {
        width: 50%;
    }

    #cright #ad {
        display: none;
    }

    .navbar-brand {
        line-height: 20px;
        height: 42px;
    }

        .navbar-brand > img {
            display: block;
            height: 42px;
        }

    .navbar {
        margin-bottom: 0px;
    }

    .DVShow {
        display: none;
        visibility: hidden;
    }
    .HiddenColumns {
        visibility: hidden;
        display: none;
    }

    #lbl_LoginPage {
        display: none;
    }

    #btn_MobileLogin {
        display: none;
    }

    
}



@media only screen and (min-width:850px) and (max-device-width: 900px) {
    #pcLogo {
        display: inline;
    }

    #MobileLogo {
        display: none;
    }

    #LoginRegisterLink {
        display: block;
    }

    #copyrightWebsite {
        display: inline;
    }

    #copyrightSoftware {
        display: none;
    }

    #SwitchUserWebsite {
        display: inline;
    }

    #SwitchUserSoftware {
        display: none;
    }


    .hideMobileVersion {
        display: block;
    }

    .btnCustomExit {
        display: inline;
    }

    .user {
        background-color: #69c24f !important;
    }

    body {
        background: url(../images/bg.jpg) repeat !important;
    }
}

@media only screen and (max-width: 850px) and (max-device-width: 900px) {
    h1.logo {
        text-align: center;
    }

    ul.list-inline li {
        width: 48%;
    }

    #slide {
        display: none;
    }

    #divNews {
        display: none;
    }

    #pcLogo {
        display: none;
    }

    #MobileLogo {
        display: inline;
    }

    #LoginRegisterLink {
        display: none;
    }

    
    #copyrightWebsite {
        display: none;
    }

    #copyrightSoftware {
        display: inline;
    }

    #SwitchUserWebsite {
        display: none;
    }

    #SwitchUserSoftware {
        display: inline;
    }


    .hideMobileVersion {
        display: none !important;
    }

    .btnCustomExit {
        display: none;
    }

    .user {
        background-color: #616161 !important;
    }

    #panel {
        background: #2F2F2F;
        padding-top: 0px;
    }

    .modal-content {
        background-color: #575757 !important;
    }


    body {
        background: url(../images/bg.jpg) repeat !important;
        color: #f2f2f2;
    }

    .navbar-header {
        background-color: #303030 !important;
    }

    /* footer {
    background: #bfbfbf;
}*/

    ul#usermenu li:hover, ul#usermenu li.active, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
        color: #FFF;
        background: #303030;
    }

    .ih-item.circle {
        background-color: white;
    }

    .ServiceFilter {
        width: 200px;
        background-color: #efefef;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border: none;
        margin-left: 3px;
        margin-right: 3px;
        margin-top: 3px;
        padding: 10px;
        color: #525151;
    }

    label {
        display: inline-block;
        margin-bottom: 5px;
        font-weight: bold;
        color: #868686;
    }

    li {
        color: #616161;
    }


    .checkbox-inline {
        width: 50%;
    }

    #cright #ad {
        display: none;
    }

    .navbar-brand {
        line-height: 20px;
        height: 42px;
    }

        .navbar-brand > img {
            display: block;
            height: 42px;
        }

    .navbar {
        margin-bottom: 0px;
    }

    .DVShow {
        display: none;
        visibility: hidden;
    }

    .HiddenColumns {
        visibility: hidden;
        display: none;
    }

    #DV_Captcha {
        display: none;
    }

    #btn_WebLogin {
        display: none;
    }

    #btn_MobileLogin {
        display: block;
    }
}

#btn_Update{
    float: left;
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
}

span{
    margin-top: 10px;
}

/*
.nav-tabs{
    background-color:#161616;
}
.tab-content{
    background-color:#303136;
    color:#555;
    padding:5px
}
.nav-tabs > li > a{
    border: medium none;
}
.nav-tabs > li > a:hover{
    background-color: #303136 !important;
    border: medium none;
    border-radius: 0;
    color:#555;
}

*/
/*
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    background-color: #2a6496;
}
*/

caption{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}


@media (max-width: 480px) {
    h1.logo {
        text-align: center;
    }

    ul.list-inline li {
        width: 100%;
    }

    #slide {
        display: none;
    }

    #divNews {
        display: none;
    }

    .DVShow {
        display: none;
        visibility: hidden;
    }

    .HiddenColumns {
        visibility: hidden;
        display: none;
    }
}
/*target Internet Explorer 9 and Internet Explorer 10:*/
@media screen and (min-width: 0\0) {
    select {
        background: none;
        padding: 5px;
    }
}
