<form>
    <div class="form-horizontal myTop" role="form">
        <div class="form-group" ng-show="true">
            <label for="depo" class="col-sm-4 control-label">مبلغ مورد نظر :</label>
            <div class="col-sm-6">
                <input name="id" id="depo" ng-model="customerId" class="form-control" required="" oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('لطفا مبلغ مورد نظر را وارد کنید!')" type="text">
                <button id="buy_btn_Save" class="btn btn-success" ng-click="doBuy()">
                    افزایش موجودی
                </button>
            </div>
            <div>

            </div>
        </div>
    </div>
</form>