<div class="col-md-3 col-sm-3">

</div>
<div class="col-md-6 col-sm-6 col-xs-12" style="margin-bottom: 150px; padding: 20px; background-color: #122b40" ng-init="vorood=1">

    <ul class="tab-group">
        <li class="tab { active: vorood==0 }"><a  ng-click="vorood=0" href="#signup">عضویت</a></li>
        <li class="tab { active: vorood==1 }"><a ng-click="vorood=1" href="#loging">ورود</a></li>

    </ul>


    <div class="tab-content">

        <div id="loging"  ng-show="vorood==1">

            <form action="/" method="post">

                <div class="field-wrap">
                    <input type="email" required autocomplete="off" placeholder="شناسه کاربری"/>
                </div>

                <div class="field-wrap">
                    <input type="password" required autocomplete="off" placeholder="گذرواژه"/>
                </div>

                <button class="button button-block"/>ثبت</button>

            </form>

        </div>

        <div id="signup" ng-show="vorood==0">

            <form action="/" method="post">


                <div class="field-wrap">
                    <input type="text" required autocomplete="off" placeholder="نام" />
                </div>

                <div class="field-wrap">
                    <input type="text"required autocomplete="off" placeholder="نام خانوادگی"/>
                </div>


                <div class="field-wrap">
                    <input type="email"required autocomplete="off" placeholder="ایمیل"/>
                </div>

                <div class="field-wrap">
                    <input type="password"required autocomplete="off" placeholder="گذرواژه"/>
                </div>

                <div class="field-wrap">
                    <input type="password"required autocomplete="off" placeholder="تکرار گذرواژه"/>
                </div>
                <button type="submit" class="button button-block"/>ثبت</button>

            </form>

        </div>

    </div><!-- tab-content -->

</div>