<form>
    <div class="form-horizontal myTop" role="form">
        <div class="form-group" ng-show="true">
            <label for="orderBuyId" class="col-sm-4 control-label">نام نماد:</label>
            <div class="col-sm-6">
                <input name="id" id="orderBuyId" ng-model="customerId" class="form-control" required="" oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('لطفا نام نماد مورد نظر را وارد کنید!')" type="text">
                <button id="buy_btn_Save" class="btn btn-success" ng-click="doBuy()">
                    اضافه کن
                </button>
            </div>
            <div>

            </div>
        </div>
    </div>
</form>